@media (max-width: 600px) {
header {
    background-color: #f0f0f0;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

    
.button {
    display: inline-block;
    padding: 10px 20px;
    background: #ffffff;
    color: black;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: background 0.3s ease, transform 0.2s ease;
    
}

.button:hover {
    background: #217788;
    transform: scale(1.05);
}

body {
    margin:0;
    padding:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 100vh;
    background: linear-gradient(320deg,#ffffff,#9aafa0);
}

main {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:left;
    max-width:100%
    color: #333;
}
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

}


